 /*main .listinha{ 
     display: flex; 
     flex-wrap: wrap; 
     gap: 30px; 
     justify-content: center; 
 }
*/
 body {
   font: 400 1rem 'Inter', sans-serif;
 }

 main .listinha{ 
     background-color: white; 
     width: 25rem; 
     padding: 0.5rem; 
     display: flex; 
     flex-direction: column; 
     text-align: center; 
     /*gap: 15px;*/  
     border-radius: 15px; 
     transition: transform 0.3s ease; 
 }

 main .listinha:hover{
     transform: scale(1.2);
     background-color: #96d9d6; 
 }
