 /*main .listinha{ 
     display: flex; 
     flex-wrap: wrap; 
     gap: 30px; 
     justify-content: center; 
 }
*/
 main .listinha{ 
     background-color: white; 
     width: 200px; 
     padding: 15px; 
     display: flex; 
     flex-direction: column; 
     align-items: center; 
     gap: 15px;  
     border-radius: 15px; 
     transition: all .2s ease-in-out; 
 }

 main .listinha:hover{ 
     background-color: #96d9d6; 
 }
