body {
    font: 400 1rem 'Inter', sans-serif;
    background-color: #121212;
 }

h1{
   padding-top: 50px;
   color: white;
 }

  .card{ 
    min-height: 10vh;
    min-width: 80vw;
    margin: 0 auto;
    padding: 2.5rem 2 rem;
    background-color: #96d9d6;
    width: 25rem;
    padding: 0.5rem; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
    border: all;
    border-radius: 15px; 
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
  }

 .card:hover{
    transform: scale(1.1);
    background-color: white;
 }
 
 .teamicon {
   margin-left: auto;
   margin-right: auto;
 }

 .navbar-container {
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: grey;
  }
.navbar-container::before, .navbar-logo-container, .toggle-container {
    content: '';
  }

.navbar-icon {
  filter: invert(100%);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  flex: %;
  padding: 5px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
  width: 100px;
  height: 100px;
  background-color: #121212;
  border-radius: 10px;
}
