<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>LoL Live Esports</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rajdhani:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/images/league-of-legends.svg">
</head>
<body>
  <h1 align="center">JOGOS AO VIVO</h1>
  {% if nogames == True %}
    <center><h2>NENHUM JOGO AO VIVO</h2></center>
      {% else %}
        {% for event in events %}
          <div class="card">
            <h1>Equipes:</h1>
        <strong>Nome da Equipe: {{ event['match']['teams'][0]['name'] }}</strong>
        <img src="{{ event['match']['teams'][0]['image'] }}" alt="Logo da Equipe A" width="100" height="100">
        <br>
        <strong>Nome da Equipe: {{ event['match']['teams'][1]['name'] }}</strong>
        <img src="{{ event['match']['teams'][1]['image'] }}" alt="Logo da Equipe B" width="100" height="100">

        <br>
     </div>
    {% endfor %}
    {% endif %}
</body>
</html>
