<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>LoL Live Esports</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rajdhani:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/images/league-of-legends.svg">
</head>
 <nav class="navbar-container">
  <img class="navbar-icon" src="../static/assets/images/league-of-legends.svg" width="50" height="50">
</nav>
<body>
  <h1 align="center">JOGOS AO VIVO</h1>
  {% if nogames %}
    <center><h2>NENHUM JOGO AO VIVO</h2></center>
  {% else %}
  {% for event in events %}
          <div class="card">
            <div class="codes">
              <strong> {{ event['match']['teams'][0]['code'] }} </strong>
              <strong> {{ event['match']['teams'][1]['code'] }}</strong>
             </div>
            <div class="row">
              <div class="column">
               <img src="{{ event['match']['teams'][0]['image'] }}" alt="Logo da Equipe A" class="teamicon" width="100" height="100">
             </div>
             <div class="versus">
              <strong>VS</strong>
             </div>
             <div class="column">
               <img src="{{ event['match']['teams'][1]['image'] }}" alt="Logo da Equipe B" class="teamicon" "width="100" height="100">
             </div>
            </div>
           </div>
    {% endfor %}
    {% endif %}
</body>
</html>
